body { background: #efefef; }

.flex {
	display: flex;
}

.modules {
	background: #efefef;
	padding: 1em;
}

.module {
	margin-bottom: 5px;
	background: white;
}

.module .id {
	font-weight: bold;
}

.module > * {
	padding: 2px 8px 4px;
}

.module > .preview {
	cursor: pointer;
}

.module > .preview > * {
	padding: 2px 4px;
}